<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About - PendantProp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .about-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #1e1e1e;
            border-radius: 10px;
        }
        .about-section {
            margin-bottom: 20px;
        }
        .about-section h2 {
            color: #e53935;
        }
        .about-section p {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="about-container">
        <h1>About PendantProp</h1>
        
        <div class="about-section">
            <h2>Project Aim</h2>
            <p>PendantProp is a self-driven platform, able to fully autonomous characterize any surfactant. See for more information the <a href="https://github.com/PimDankloff/PendantProp" target="_blank">GitHub repository</a>.</p>
        </div>
        
        <div class="about-section">
            <h2>Contributors</h2>
            <p>This project is made possible by the contributions of the following individuals:</p>
            <ul>
                <li>Pim Dankloff - Supervision & Development</li>
                <li>Mats van Rossum - Development</li>
                <li>Mathieu Baltussen - Development</li>
                <li>Stefan Hodl - Development</li>
                <li>William Robinson - Supervision</li>
                <li>Wilhelm Huck - Supervision</li>
            </ul>
        </div>
        
        <div class="about-section">
            <h2>Big Chemistry Consortium</h2>
            <p>This project is part of the Big Chemistry Consortium, a collaboration between Radboud University, Eindhoven University of Technology, Rijksuniversiteit Groningen, Fontys hogeschool & onderzoeksinstituut AMOLF.
                By building an autonomous 'Robot Lab', the consortium aims to accelerate the discovery of new molecular systems and formulations. Click
            <a href="https://bigchemistry.nl/" target="_blank">here</a> for more information about the consortium. 
            </p>
        </div>
    </div>
    <button type="button" onclick="window.location.href='/'">Back</button>
</body>
</html>