<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PendantProp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>PendantProp</h1>
    <div class="button-container">
        <form action="/input_settings" method="post">
            <button type="submit" class="settings-button">
                <i class="fas fa-cog"></i> Settings
            </button>
        </form>
        <form action="/input_initialisation" method="post">
            <button type="submit" class="settings-button">Initialisation</button>
        </form>
        <form action="/input_calibration" method="post">
            <button type="submit">Calibration</button>
        </form>
        <form action="/input_surfactant_characterization" method="post">
            <button type="submit">Surfactant Characterization</button>
        </form>
        <form action="/input_formulate" method="post">
            <button type="submit">Formulate</button>
        </form>
        <form action="/input_measure_wells" method="post">
            <button type="submit">Measure Well</button>
        </form>
        <form action="/about">
            <button type="submit" class="about-button">About</button>
        </form>
        <form action="/turn_on_pendant_drop_camera" method="post">
            <button type="submit" class="about-button">Camera</button>
        </form>

    </div>
    <div class="image-grid">
        <div class="grid-item">
            <h3>Webcam Opentron</h3>
            <iframe src="{{ url_for('opentron_video_feed') }}" width="640" height="480" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="grid-item">
            <h3>Camera Pendant Drop</h3>
            <iframe src="{{ url_for('pendant_drop_video_feed') }}" width="640" height="480" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="grid-item">
            <h3>Surface Tension over Time</h3>
            <img src="{{ url_for('static', filename='images/test.jpg') }}" alt="Surface Tension over Time">
        </div>
        <div class="grid-item">
            <h3>Surface Tension over Concentration</h3>
            <img src="{{ url_for('static', filename='images/test.jpg') }}" alt="Surface Tension over Concentration">
        </div>
    </div>
    <div class="status-bar">
        Last action: {{ last_action }}
    </div>
</body>
</html>