<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calibration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Calibration</h1>
    Calibration is required to ensure accurate pendant drop measurements. The following is needed:
    <ul>
        <li>Metal needle gauge no. ?</li>
        <li>The open-source progam Fiji</li>
        <li>P20 single channel pipette</li>
    </ul>
    <br>
    Calculate the scale by measuring the pixel size of the needle in Fiji, and dividing the needle diameter by this pixel size. Update this scale in the settings tab.
    <form action="/calibrate" method="post" enctype="multipart/form-data">
        <br>
        <button type="submit">Calibrate</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </form>
</body>
</html>