<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Settings</h1>
    <form action="/settings" method="post" enctype="multipart/form-data">
        <label for="ROBOT_IP">Robot IP adress:</label>
        <input type="text" id="ROBOT_IP" name="ROBOT_IP" value="{{ settings.ROBOT_IP}}" required>
        <br>

        <button type="submit">Update settings</button>
    </form>
</body>
</html>