<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Input surfactant characterization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Input surfactant characterization</h1>
    <p>Upload a CSV file containing the surfactant name and concentration. See the <a href="https://github.com/PimDankloff/PendantProp" target="_blank">README</a> on the GitHub repository for an example.</p>
    <form action="/characterize" method="post" enctype="multipart/form-data">
        <label for="csv_file">Upload CSV file:</label>
        <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
        <br>
        <button type="submit">Characterize!</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </form>
</body>
</html>