<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Settings</h1>
    <form action="/settings" method="post" enctype="multipart/form-data">
        <h2>General</h2>
        <label for="ROBOT_TYPE">Robot type:</label>
        <select id="ROBOT_TYPE" name="ROBOT_TYPE" required>
            <option value="OT2" {% if settings.ROBOT_TYPE == 'OT2' %}selected{% endif %}>OT2</option>
            <option value="Flex" {% if settings.ROBOT_TYPE == 'Flex' %}selected{% endif %}>Flex</option>
        </select>
        <br>
        <label for="ROBOT_IP">Robot IP adress:</label>
        <input type="text" id="ROBOT_IP" name="ROBOT_IP" value="{{ settings.ROBOT_IP}}" required>
        <br>
        
        <h2>Pendant Drop Analysis</h2>
        <label for="DROP_VOLUME">Drop volume (µL):</label>
        <input type="float" id="DROP_VOLUME" name="DROP_VOLUME" value="{{ settings.DROP_VOLUME }}" required>
        <br>
        <label for="EQUILIBRATION_TIME">Equilibration time (s):</label>
        <input type="float" id="EQUILIBRATION_TIME" name="EQUILIBRATION_TIME" value="{{ settings.EQUILIBRATION_TIME }}" required>
        <br>
        <label for="FLOW_RATE">Flow rate (µL/s):</label>
        <input type="float" id="FLOW_RATE" name="FLOW_RATE" value="{{ settings.FLOW_RATE }}" required>
        <br>
        <label for="DENSITY">Density (g/mL):</label>
        <input type="float" id="DENSITY" name="DENSITY" value="{{ settings.DENSITY }}" required>
        <br>
        <label for="SCALE">Scale (mm/pixel):</label>
        <input type="float" id="SCALE" name="SCALE" value="{{ settings.SCALE }}" required>
        <br>

        <h2>Characterization</h2>
        <label for="DILUTION_FACTOR">Dilution factor:</label>
        <input type="float" id="DILUTION_FACTOR" name="DILUTION_FACTOR" value="{{ settings.DILUTION_FACTOR }}" required>
        <br>
        <label for="EXPLORE_POINTS">Explore points:</label>
        <input type="number" id="EXPLORE_POINTS" name="EXPLORE_POINTS" value="{{ settings.EXPLORE_POINTS }}" required>
        <br>
        <label for="EXPLOIT_POINTS">Exploit points:</label>
        <input type="number" id="EXPLOIT_POINTS" name="EXPLOIT_POINTS" value="{{ settings.EXPLOIT_POINTS }}" required>
        <br>
        <label for="WELL_VOLUME">Well volume (µL):</label>
        <input type="float" id="WELL_VOLUME" name="WELL_VOLUME" value="{{ settings.WELL_VOLUME }}" required>
        <br>
        <label for="DYNAMIC_EQUILIBRATION_TIME">Dynamic equilibration time:</label>
        <select id="DYNAMIC_EQUILIBRATION_TIME" name="DYNAMIC_EQUILIBRATION_TIME" required>
        <option value="True" {% if settings.DYNAMIC_EQUILIBRATION_TIME == 'True' %}selected{% endif %}>True</option>
        <option value="False" {% if settings.DYNAMIC_EQUILIBRATION_TIME == 'False' %}selected{% endif %}>False</option>
        </select>
        <br>
        <br>
        <button type="submit">Update settings</button>
    </form>
    <br>
    <form action="/reset_settings" method="post" enctype="multipart/form-data">
        <button type="submit">Reset to default settings</button>
    </form>
    <br>
    <button type="button" onclick="window.location.href='/'">Cancel</button>
</body>
</html>