<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calibration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Calibration</h1>
    Calibration is required to ensure accurate pendant drop measurements. The following is assumed:
    <ul>
        <li>Standard well plate on location 8, A1 filled with ultrapure water</li>
        <li>Temperature 22.5C</li>
        <li>Pressure of 1 atm</li>
    </ul>
    <br>
    <p>Click the button below to calibrate the system. The average scale is printed in the terminal or can be found in the experimental folder. </p>
    <form action="/calibrate" method="post" enctype="multipart/form-data">
        <br>
        <button type="submit">Calibrate!</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </form>
</body>
</html>