<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Input measure wells</h1>
    <p>Upload a CSV file with the plate location and the start and end well of the measurement.</p>
    <form action="/measure_wells" method="post" enctype="multipart/form-data">
        <label for="csv_file">CSV File:</label>
        <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
        <br>
        <button type="submit">Upload and Measure!</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </form>
</body>
</html>